<.back navigate={~p"/movies"}>Back to movies</.back>

<.header>
  New Movie
  <:subtitle>Add a movie for the Creepy Crawlies to watch next!</:subtitle>
</.header>

<.movie_form changeset={@changeset} action={~p"/movies"} />

